<a href="#">
  <article>
    <h2>7 passoa para o primeiro passo</h2>
    <p>
      Por <strong>Hendrew</strong> em 29/09/2026 às 11:20h
    </p>
    <div class="resume">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ipsum impedit culpa, autem nemo tempore perferendis at. Consequuntur molestiae aut asperiores quos, laboriosam similique reiciendis itaque voluptate dicta nihil corrupti?
    </div>
  </article>
</a>
