header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  border-bottom: 1px solid #F0F0F0;

  .logo {
    margin-left: 16px;
  }

  nav {
    margin-right: 16px;

    ul {
      li {
        list-style-type: none;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;

        a {
          text-decoration: none;
          color: #343434;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
