main {
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    &:last-child article {
      margin-bottom: 0;
    }
  }
}

article {
  width: 960px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  border: 1px solid #F0F0F0;
  border-radius: 6px;
  padding: 12px 24px;

  h2 {
    font-size: 38px;
  }

  p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .resume {
    font-size: 16px;
  }

  &:hover {
    background-color: #F9F9F9;
  }
}

.show_article {
  width: 960px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  padding: 12px 24px;

  h2 {
    font-size: 38px;
    text-align: center;
  }

  p {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    text-align: center;
  }

  .content {
    margin-top: 50px;
    font-size: 18px;
  }
}
